DATABASE_URL=libsql://data.db

SECRET=

BETTER_AUTH_URL=https://api.my.fm
FRONTEND_URL=https://my.fm

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=https://api.my.fm/auth/callback/spotify

LOG_LEVEL=info