SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
REDIRECT_URI=https://my.fm/auth/spotify/callback
DATABASE_PATH=data.db
SECRET=

GOOSE_DRIVER=sqlite
GOOSE_DBSTRING=data.db
GOOSE_MIGRATION_DIR=./sql/migrations
GOOSE_TABLE=goose_migrations
