openapi: "3.0.0"
servers:
  - url: https://api.my.fm
info:
  version: 0.1.0
  title: my.fm API
  description: 'The my.fm backend service'
tags:
  - name: authentication
    description: Authentication-related operations
  - name: user
    description: User-related operations
security:
  - BearerAuth: []
paths:
  /auth/spotify:
    post:
      tags: [authentication]
      summary: Authenticate with Spotify
      description: >
        Exchanges Spotify authorization code for my.fm access token.
        If no my.fm account exists with the associated Spotify email, one is created.
      operationId: authSpotify

      security: []

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  description: Authorization code from spotify.

      responses:
        '200':
          description: An access token for the user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    description: The access token for the my.fm user.
        '400':
          description: Invalid authorization code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /user/me:
    get:
      tags: [user]
      summary: Get user info.
      description: >
        Returns information about the currently authenticated user.
      operationId: userMe

      responses:
        '200':
          $ref: '#/components/responses/UserMeResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    GeneralError:
      description: A general API error
      type: object
      required:
        - error
      properties:
        error:
          type: string
    FormError:
      description: Invalid form data
      type: object
      required:
        - errors
      properties:
        errors:
          type: object
          additionalProperties: true
  responses:
    InternalServerError:
      description: Unexpected internal error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GeneralError'
    UnauthorizedError:
      description: User is unauthorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GeneralError'
    UserMeResponse:
      description: Information about a user.
      content:
        application/json:
          schema:
            type: object
            required:
              - id
              - email
              - name
              - username
              - onboarded
            properties:
              id:
                type: string
                description: The ID of the user.
              email:
                type: string
                description: The email of the user as per the auth provider.
              name:
                type: string
                description: The name of the user.
              username:
                type: string
                description: The username of the user.
              onboarded:
                type: boolean
                description: Whether the user has finished being onboarded.
  securitySchemes:
    BearerAuth:
      description: Bearer token using a JWT
      type: http
      scheme: Bearer
      bearerFormat: JWT
