openapi: "3.0.0"
servers:
  - url: https://api.my.fm
info:
  version: 0.1.0
  title: my.fm API
  description: 'The my.fm backend service'
tags:
  - name: authentication
    description: Authentication-related operations
paths:
  /auth/spotify:
    post:
      tags: [authentication]
      summary: Authenticate with Spotify
      description: >
        Exchanges Spotify authorization code for my.fm access token.
        If no my.fm account exists with the associated Spotify email, one is created.
      operationId: authSpotify

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  description: Authorization code from spotify.

      responses:
        '200':
          description: An access token for the user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    description: The access token for the my.fm user.
        '400':
          description: Invalid authorization code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralError'
        '500':
          $ref: '#/components/responses/InternalServerError'


components:
  schemas:
    GeneralError:
      description: A general API error
      type: object
      required:
        - error
      properties:
        error:
          type: string
    FormError:
      description: Invalid form data
      type: object
      required:
        - errors
      properties:
        errors:
          type: object
          additionalProperties: true
  responses:
    InternalServerError:
      description: Unexpected internal error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GeneralError'
